{% extends 'scl/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section>
    <div class="container mb-5">
        <div class="row justify-content-center mt-1">
            <div class="col-md-12 col-sm-12 p-4 font-weight-bold purple-text">
                <form action="#" method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="form-group col-md-6 col-sm-12">
                            {{ form.contrat|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            {{ form.libelle_affaire|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-12">
                            {{ form.montant|as_crispy_field}}
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            {{ form.technicien|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12">
                            {{ form.description_affaire|as_crispy_field}}
                        </div>
                    </div>

                    <!--Button trigger modal-->
                    <button type="button" class="btn btn-purple" data-toggle="modal" data-target="#submitModal">Ajouter</button>

                    <!--Modal-->
                    <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="submitModalLabel">Confirmation Affaire</h5>
                                </div>
                                <div class="modal-body">
                                    <p class="text-center">Confirmez-vous l'affaire'?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Retour</button>
                                    <button type="submit" name="save" class="btn btn-purple">Ajouter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}