{% extends 'scl/base.html' %}
{% load static %}
{% block content %}

<!--Projects section v.4-->
<section>

    <!--Grid row-->
    <div class="row mx-1 mt-5 animated animate__slideInUp">

        <!--Grid column-->
        <div class="col-md-4 mb-4">
            <div class="card card-image"  alt="Responsive image" style="background-image: url('{% static "scl/logout.jpg"%}')"; background-repeat: no-repeat; background-position: center center;">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title py-3 font-weight-bold purple-text"><i class="fas fa-toggle-off"></i><strong> Résiliation</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-secondary btn-rounded"><i class="fas fa-clone left"></i> Ajouter</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
            <div class="card card-image" style="background-image: url('{% static "scl/image2.jpg"%}')";">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title py-3 font-weight-bold pink-text"><i class="fas fa-cogs"></i><strong> Affaire</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-pink btn-rounded"><i class="fas fa-clone left"></i> Ajouter</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
            <div class="card card-image" style="background-image: url('{% static "scl/image3.jpg"%}')";">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                        <h3 class="card-title py-3 font-weight-bold green-text"><i class="fas fa-money-check-alt"></i><strong> Encaissement</strong></h3>
                        <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                            Odit sed qui, dolorum!</p>
                        <a class="btn btn-success btn-rounded"><i class="fas fa-clone left"></i> Ajouter</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Projects section v.4-->
  {% endblock content %} 