<nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="{% url 'index' %}">
        {% load static %}
        <img src="{% static "scl/logo.png" %}" class="rounded" width="100">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerid" aria-controls="navbarTogglerid" aria-expanded="false" aria-label="toffle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerid">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
                <a class="nav-link h4"  href="{% url 'resiliation' %}">Résiliation |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link h4"  href="{% url 'affaire' %}">Affaires |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link h4"  href="{% url 'manuel' %}">Encaissement Manuel |</a>
            </li>

            <li class="nav-item">
                <a class="nav-link h4" href="#">Rapports</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link blue-text h5"  href="/accounts/logout/"><i class="fas fa-unlock-alt"></i> {{ request.user.username }}</a>
            </li>
        </ul>
    </div>

</nav>