{% extends 'scl/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<section>
    <div class="container mb-5">
        <div class="row justify-content-center mt-5">
            <div class="col-md-12 col-sm-12 p-4  font-weight-bold purple-text">
                <form action="#" method="POST">

                    {% csrf_token %}
                    <p class="justify-content-center text-white text-center d-flex align-items-center px-4">Si la résiliation est non encaissée mettre nombre de mois 0</p>
                    <div class="row justify-content-center">
                        
                        <div class="form-group col-md-4 col-sm-12">
                            {{ form|crispy}}
                        </div>     
                    </div>
                    <!--Button trigger modal-->
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-purple" name="save" data-toggle="modal" data-target="#submitModal">Ajouter</button>
                    </div>
                   
                    

                    <!--Modal-->
                    <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="submitModalLabel">Résiliation</h5>
                                </div>
                                <div class="modal-body">
                                    <!--Ajouter variable TTC {{ ttc }}-->
                                    <p class="text-center">Confirmer la resiliation pour un montant TTC de </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Retour</button>
                                    <button type="button" class="btn btn-purple">Ajouter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}