{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center mt-5 text-white">
      <div class="col-md-6 col-sm-12 mt-2 ">
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-blue" type="submit">{% trans 'Sign Out' %}</button>
</form>
<img src="{% static 'scl/logo.png' %}" class="mt-5" alt="">
</div>
</div>
</div>


{% endblock content%}
